/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; background-color:#759e2d; }
body                            { padding:0; margin:0; font: normal 14px 'Open Sans'; background:#ffffff; color:#444; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px "Open Sans", sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none; }
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper{
	max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    min-width: 780px;
    position: relative;
    background-color: #eee;

}
/*-----------------------------Main Navigation--------------------------------------*/
.main-nav{
    width: 140px;
    float: left;
    height: 100%;
    background-color: #759e2d;
}
.main-nav ul{
    border-bottom:1px solid #709332 ;
}
.main-nav li:first-child{
    min-height: 85px;
}
.main-nav li{
    min-height: 100px;
    background-color: #7ca338;
    border-top: 1px solid #bfd39e;

    /*list-style-position: inside;*/
}
.main-logo img{
    margin-top: 23px;
    margin-left: 27px ;
}

.dashboard-nav{
    background: url("../images/dashboard.png") no-repeat center 20px;
}
.main-nav .dashboard-nav-bg ,
.dashboard-nav:hover{
    background: #5e7e24 url("../images/dashboard-hover.png") no-repeat center 20px;
   }

.offers-nav{
    background: url("../images/folder.png") no-repeat center 20px;
}
.main-nav .offers-nav-bg,
.offers-nav:hover{
    background: #5e7e24 url("../images/offers-hover.png") no-repeat center 20px;
    }
.advertisers-nav{
    background: #5e7e24 url("../images/user.png") no-repeat center 20px;
    }
.main-nav .advertisers-nav-bg,
.advertisers-nav:hover{
    background: #5e7e24 url("../images/user-hover.png") no-repeat center 20px;
   }

.users-management-nav{
    background: url("../images/users.png") no-repeat center 20px;
}
.main-nav .users-management-nav-bg,
.users-management-nav:hover{
    background: #5e7e24 url("../images/users-hover.png") no-repeat center 20px;
   }
.faq-nav{
    background: url("../images/faq.png") no-repeat center 20px;
}

.main-nav .faq-nav-bg,
.faq-nav:hover{
    background: #5e7e24 url("../images/faq-hover.png") no-repeat center 20px;
   }
.tickets-nav{
    background: url("../images/tickets.png") no-repeat center 20px;
}
.main-nav .tickets-nav-bg,
.tickets-nav:hover{
    background: #5e7e24 url("../images/tickets-hover.png") no-repeat center 20px;

}
.ticket-counter{
    display: inline-block;
    margin-top: 10px;
    margin-left: 70px;
    padding: 0 5px;
    background: #f3481b none repeat scroll 0 0;
    border: 1px solid #f3411b;
    border-radius: 12px;
    color:#fff;
    font-size: 12px;
    font-weight: bold;

}

.main-nav li.advertisers-nav-bg a,
.advertisers-nav a:hover,
.main-nav li.tickets-nav-bg a,
.tickets-nav a:hover,
.main-nav li.faq-nav-bg a,
.faq-nav a:hover,
.main-nav li.users-management-nav-bg a,
.users-management-nav a:hover,
.main-nav li.offers-bg-nav a,
.offers-nav a:hover,
.main-nav li.dashboard-nav-bg a,
.dashboard-nav a:hover{
    color: #fff;
}

.main-nav li a{
    /*color: #2d3d0f;*/
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #2d3d0f
}
.main-nav li a p{
    padding-top: 55px;
    line-height: 1;
}
.main-nav li:last-child a p{
    padding-top: 35px;
    line-height: 1;
}
/*-----------------------------Header-------------------------------------*/
header{
    width: 100%;
    height: 54px;
    background-color: #fff;
}
header .right-panel li{
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 10px;
    margin-top: 2px;
}
/*.right-panel{*/
    /*margin-top: 2px;*/
    /*margin-right: 12px;*/
/*}*/
header .right-panel li .profile{
   color: #759e2d;
}
header .right-panel li:last-child a{
    background: url("../images/logaut.png") no-repeat 3px 7px;
    color: transparent;
    padding: 5px 0;
    margin-right: 20px;
    margin-left: 4px;
}

/*-----------------------------Article-------------------------------------*/

.main-page-title{
    margin-top: 5px;
    line-height: 1;


}
.content{
    background-color: #eee;
    padding: 0 30px 30px;
    width: calc(100% - 140px);
    border-top:1px solid #d7d7d7;
    float: left;
}

.article-header{
    height: 103px;
    /*padding-top: 15px;*/
    box-sizing: border-box

}
.article-header .right-nav{
    margin: 19px 5px 10px;

}
a.back_btn{
    color: #759e2d;
    font-weight: 600;
    background: url("../images/arow_left.png") no-repeat 10px 14px;
    padding-left:  20px;
    font-size: 12px;

}
a.btn,
.btn {
    text-transform:uppercase;
    font-size: 12px;
    color: #759e2d;
    padding-top: 13px;
    border-radius: 4px;
    font-weight: 600;
    padding-bottom: 5px;
}

/*.fa-chevron-left{*/
    /*font-size: 15px;*/
/*}*/
.article-header h1{
    float: left;
    clear: both;
    width: auto;
    font-size: 48px;
    color: #454545;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
    }

.right-nav{
    float: right;
    margin: 34px 0;
}
.right-nav li{
    display: inline-block;
    margin-left: 7px;
}

.right-nav li a{
    padding: 12px 13px 12px 18px;
    border-radius: 4px;
    border: 1px solid #96c93d;
    color: #759e2d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.right-nav li:first-child a{
    padding-left: 25px;

}

.right-nav li:last-child a span{
    margin-left: 5px;
}

.content-list dt,
.content-list dd{
    padding: 5px 20px;
}

.content-list {
    background: url("../images/line_bg.jpg") repeat-y;
}
.content-list dt{
    float: left;
    width: 300px;
    text-align: right;
    text-transform: uppercase;
    color: #888;
}
.content-list dd{
    overflow: hidden;
    color: #444;

}
.content-list .middle-indent{
    padding-top: 27px;
}
.content-list dd:last-child{
    padding-bottom: 30px;
}

.content-list  .first-indent{
    padding-top: 36px;
    padding-bottom: 15px;
}
.content-list .bold-comission{
    text-transform: uppercase;
    color: #222;
    font-weight: 600;
}
.content-list .active-link{
    font-weight: bold;
    text-transform: uppercase;
    color: #96c93d;
}

.about_user{
    background-color: #fff;
    clear: both;
    min-width: 955px;
}

.btn.delete-btn{
    float: left;
    padding: 13px 20px 13px 40px;
    margin-top: 23px;
    color:#fff;
    border-radius: 4px;
    background:  #f3481c url("../images/del_icon.png") no-repeat 13px 14px;
}

.green-link,
.about_user dd.green-link{
    color: #759e2d;
}
/*---------------------Edit Form-----------------------------------------*/
.adv-list dt{
    padding-top: 20px;
}
.right-nav.save li a{
    padding: 12px 13px 12px 8px;
}
.right-nav.save li:first-child a {
    padding: 12px 15px;
}
.about-left{
    float: left;
    width: 300px;
    padding: 35px 20px;
    text-align: right;
    text-transform: uppercase;
    background-color: #f7f7f7;
    color: #888;
}
.about-right li,
.about-left li{
    padding: 5px;
}
.about-right li:nth-child(10),
.about-left li:nth-child(10){
   margin-top: 15px;
}
.api{
    text-transform: uppercase;
}
.about-right{
    max-width: calc(100% - 300px);
    padding: 35px 20px;
    overflow: hidden;
    margin-right: 30px;
    color: #444;
}

#edit_profile{
    max-width: 671px;;
    padding: 30px 20px ;
    margin-left: 300px;
    min-width:250px ;
}


.edit-list .editFirstName[type="text"]{
    max-width: 300px;
    margin-right: 10px;
    float: left;
}
.edit-list .editLastName[type="text"],
.edit-list .network-ip[type="text"]{
    max-width: 300px;
}
.edit-list .apiKey[type="text"]{
    max-width: 500px;
    margin-right: 10px;
}
.edit-list  .generate-btn{
    width: 100px;
    margin-left: -3px;
    border: 1px solid #96c93d;
    color: #759e2d;
    font-weight: 400;
    padding: 12px 15px 11px;
    background-color: #fff;
}
/*#edit_profile li:first-child {*/
    /*margin: 9px 0 8px;*/
/*}*/
/*#edit_profile li{*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
/*}*/

.edit_lineHeight{padding-bottom: 10px;}
.edit_lineHeight li{margin-bottom: 24px;}
.right-nav li .btn-green-hover{
    background-color: #96c93d;
    color: #fff;
    font-weight: 600;

}
/*---------------------------------add-advertiser--------------------------------------*/
.advertiserpage h1{margin-top: 27px}

table.table{
    width:100%;
    background-color: #fff;
}
.table th{
    text-align: center;
    color:#759e2d;
    text-transform: uppercase;
    padding: 13px 0 12px;
}
.advertisers.table th{
   text-align:left;
}
.advertisers.table th:first-child,
.advertisers.table td:first-child{
  text-align: center;
}
.table td{
    font-weight: 400;
    padding: 16px 0 14px;
    white-space: nowrap;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
.name-tabl-adv,
.email-tabl-adv{
    width: 18%;
}
.url-tabl-adv{
    width: 54%;
}
/*.btn-tabl-advertisers{*/
    /*width: 1.76470588235%;*/
    /*font-size: 12px;*/
/*}*/

.table tr:nth-child(even){
    background-color: #fbfcf8;

}
.table tr:hover{
    background-color: #d5e2c0;
}
.table tr:first-child{
    font-size: 12px;
    color:#759e2d;
    font-weight: 800;
    background-color: #f7f7f7;
}
/*.fa.del-icon{*/
    /*font-size: 19px;*/
    /*color: #444;*/
/*}*/
/*.fa.edit-icon{*/
    /*font-size: 17px;*/
    /*color: #444;*/
/*}*/
.btn.add-new-btn{
    color: #fff;
    margin: 37px 5px 25px 0;
    padding: 13px 18px 12px 37px;
    font-size: 14px;
    font-weight: 600;
    background:  #96c93d url("../images/add-icon.png") no-repeat 18px 16px;
}
/************************Pagination******************************************************/
.pagination-advertisers{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.pagination-advertisers li{
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;

}
.pagination-advertisers a{
    font-size: 18px;
    font-weight: 600;
    color:#759e2d;
}
.previous-off a{
    color: #a1a1a1;
}
/*--------------------------Dashboard---------------------------------------*/
.dashboardpage h1{
    font-size: 45px;
    color: #454545;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
    font-family: "Open Sans";
    letter-spacing: 2px;
}
.dashboardpage h2{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 24px;
    font-weight: 400;
}
.charts-main{
    max-width: 1700px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
h2.first-title-dash{
    padding-bottom: 7px;
}
.revenue-block{
    display: inline-block;
    width: 324px;
    height: 500px;
    margin-right: 17px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #fff;
    padding: 20px;
    overflow: hidden;
}
.revenue-block:last-child{
    margin-right: 0;
}

.revenue-block img{
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 20px 20px 0;
}
.revenue-block h3{
    color: #759e2d;
    font-size: 16px;
    font-weight: 600;
    line-height: 0.5;
    margin-bottom: 1px;
    margin-top: 18px;
    letter-spacing: 2px;
}

.revenue-block  p{
    clear: left;
    line-height: 1.4;
    font-size: 12px;
 }
/*.revenue-block ul li:first-child{*/
    /*margin-right: 5px;*/
/*}*/
.revenue-block ul li:last-child{
    margin-right: 0;
}
.revenue-block ul li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
    line-height: 1;
}
.revenue-block ul li span{
    font-weight: 600;
    color: #759e2d;
    font-size: 18px;

 }
.revenue-block .shedule-mini{
    width: 284px;
    height: 215px;
    margin: 10px 20px 10px 0;
}
.dashboardpage h2.total-dash{
    margin-top: 25px;
}
/*----------------------------------faq----------------------------------------*/
.faq td:first-child{
    width: 3%;
    color: #444;
}
.faq td:nth-child(2){
    width: 78.3529411765%;
}
.faq td:nth-child(3){
    width: 4%;
    text-align: center;
}
.table input[type="checkbox"]{
    display: none;
}
.table label {
    width:16px;
    height: 16px;
    display: block;
    position: relative;
    margin-left: 25%;
}
.table input[type="checkbox"] + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: url(../images/chek.png) no-repeat 0 -12px;
    cursor: pointer;
    margin-top: -2px;

  }
.table input[type="checkbox"]:checked + span  	{
    background-position: 0 0;
}
.icon_btn_edit{
    background: url(../images/icon_edit.png) no-repeat 0 9px;
    width: 16px;
    height: 14px;
    padding: 9px;
}
.icon_btn_delete{
    background: url(../images/icon_delete.png) no-repeat 0 8px;
    width: 16px;
    height: 16px;
    padding: 9px;
}
.faq-list{
    overflow: hidden;
    width: 100%;
}
.faq-list > tbody > tr > td.first-item{
    padding-top:40px;
}


.faq-list td:first-child{
    width: 300px;
    padding: 20px 20px 20px;
    text-align: right;
    text-transform: uppercase;
    background-color: #F7F7F7;
    color: #888;
    vertical-align: top;
}
.faq-list td:last-child{
    width: calc(100% - 300px);
    padding: 20px 20px 20px;
    background-color: #fff;

}
.faq-form input,
.faq-form textarea{
    min-height: 45px;
    width: 100%;
    padding: 10px 15px ;
    color:#444;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.faq-form  .faq-list td:nth-child(2){
    padding: 5px 20px;
}
.btn-form{
    padding: 10px 50px;
    color: #fff;
    background-color: #96c93d;
    border: 1px solid #96c93d;
    border-radius: 4px 0 0 4px ;
    font-weight: 600;
}
.btn-inactive{
    background-color: #fff;
    color: #96c93d;
    border-radius: 0 4px 4px 0 ;
}
a.btn.btn-active{
    color: #fff;
    background-color: #96c93d;
    font-weight: 600;
}
.faq-form  td:first-child{
    padding-top: 15px;
}
.faq-form .first-row td.first-item{
    padding-top: 20px;
}

.faq-form .last-row td:first-child{
    padding-bottom:  30px;
}
.faq-form .last-row td:nth-child(2){
    padding-bottom: 20px;
}

.faq-form .last-row td:first-child{
    padding-bottom: 30px;
}

/***********************************************/
.edit-list input{
    padding: 13px 15px;
    font-size: 14px;
    color: #444;
    border:1px solid #ccc;
    border-radius: 4px;
    max-width:610px;
    width: 100%;
}
.edit-list input[name="price"]{
    max-width:140px;
}

.green-select select {
    background: transparent;
    width: 308px;
    padding: 12px;
    font-size: 14px;
    color: #444;
    line-height: 1;
    border:none;
    border-radius: 0;
    height: 44px;
    -webkit-appearance: none;
}

.green-select {
    width: 280px;
    height: 42px;
    overflow: hidden;
    background: #fff url(../images/select-icon.png) no-repeat 96%;
    border:1px solid #ccc;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
}
.check-box-list{margin: 15px 0 8px; }
.check-box-list input[type="checkbox"]{
    display: none;
}
/*.list-offer.content-list dt,
.list-offer.content-list dd {
    padding-top: 5px;
}*/
.custom-checkbox p{
    margin-left: 30px;
}

.check-box-list label {
    height: 30px;
    display: block;
    position: relative;
}
.check-box-list input[type="checkbox"] + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    background: url(../images/chek-icon-offer.png) no-repeat 0 -22px;
    cursor: pointer;
    height: 22px;
}
.check-box-list input[type="checkbox"]:checked + span  	{
    background-position: 0 0;
}
.edit-list textarea{
    min-height: 45px;
    width: 100%;
    padding: 10px 15px ;
    color:#444;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.list-offer dt{
    /*padding-top: 15px;*/
}
.list-offer .btn-inactive{
    margin-left: -4px;
    cursor: pointer;
}
.list-offer .btn-form{
    padding: 14px 50px;
    cursor: pointer;
}
.list-offer dt.last-indent{
    padding-top:15px;
    }
.list-offer .last-indent{
    margin-top: 20px;
}

/*-----------------offers-list-------------------------------------------*/

.id-table{width: 5%;}

.offers .title-tabl-offer{
    width: 23%;
    text-align: left;
}

.adv-tabl-offer,
.cat-tabl-offer,
.com-tabl-offer,
.prevUrl-tabl-offer{width: 9%;}

.type-tabl-offer,
.cap-tabl-offer{width: 6%;}

.trackUrl-tabl-offer{width: 15%;}

.table .btn-del-tabl{
    width: 2.5%;
    text-align: left;
    padding-left: 3px;
    }
.table .btn-edit-tabl{
    width: 2.5%;
    text-align: right;
    padding-right: 3px;
}


.btn-chek-tabl{width: 5%}

.table.offers input[type="checkbox"] + span {
    background: url(../images/chek-disable.png) no-repeat 0 -16px;
}
.table.offers input[type="checkbox"]:checked + span  	{
    background-position: 0 0;
}
.offers td{
    text-align: center;
}
.offers th:last-child,
.offers th:nth-child(2){
    text-align: left;
}
.offers td:last-child{
    padding-right: 15px;
    padding-left: 3px;
}
.offers td:nth-child(11){
    padding-right: 3px;
    padding-left: 15px;
}
/*---------------------ticket-----------------------------*/
.ticketpage h1{
    margin-top: 8px;
}

.ticket {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 15px 25px 10px 20px;
    border-radius:2px ;

}
.ticket h3{
    color: #444;
    font-size: 14px;
    line-height: 0.7;
    font-weight: normal;
    margin-top: 10px;
    }
.ticket .mail {
    color: #759e2d;
}
.ticket .time{
    font-size: 12px;
    color: #888;
    line-height: 1;
}

.ticket p{
    font-size: 14px;
    margin-top: 9px;
}
.ticket-answer{
    padding-left: 50px;
    padding-bottom: 25px;
    background: #fbfcf8 url("../images/arrow-left-ticket.png") no-repeat 20px 20px;
}
#reply h2{
    text-transform: uppercase;

}
.reply {
    width: 100%;
    min-height: 134px;
    border: 1px solid #ccc;
    border-radius:2px ;
    padding: 20px;
    margin-bottom: 20px;
}
.btn-cancel {
    border: 1px solid #96c93d;
    border-radius: 4px;
    padding: 13px;
    color: #759e2d;
    font-weight: 600;
    text-transform: uppercase;
}
.status-btn{
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 42px;
    margin-right: 10px;
}
.status-btn .green-select{
    width: 195px;
    margin-right: 0;
    border: none;
    height: 40px;
    border-radius: 0 4px 4px 0 ;
}
.status-btn .green-select select{
    width: 223px;
    border: none;
    padding-top: 5px;
}
.set-status{
    float: left;
    padding: 10px;
    border-right: 1px solid #ccc;
    text-transform: uppercase;
}
.btn-save{
    background-color: #96c93d;
    border: 1px solid #96c93d;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    padding: 10px 10px 11px;
}
/* --------------ticket Table -------------------*/

.quest-tabl-ticket{
    width: 57%;
}
.user-tabl-ticket {
    width: 18%;
}
.last-tabl-ticket{
    width: 12%
}
.status-tabl-ticket{
    width: 8%;
}
.table.tickets th:nth-child(2),
.table.tickets th:nth-child(3){
    text-align: left;
}
.table.tickets td:nth-child(4),
.table.tickets td:nth-child(5){
    text-align: center;
}
.table.tickets tr:nth-child(2) td{
    font-weight: bold;
}
/*----------User details edit-----------------------*/

/*.user-list .editFirstName,*/
/*.user-list .editLastName{*/
    /*margin-top: 10px;*/
/*}*/
.user-list dt:first-child{
    margin-top: 0;
}
.user-list dt{
    margin-top: 10px;
}
.user-list .edit_apartment,
.user-list .edit_zip{
    width: 140px;
}

.user-list .green-select{
    width: 298px;
}
.user-list .green-select select{
    width: 326px;
}
.user-list .btn-inactive{
    margin-left:-4px;
}
.user-list .first-indent{
    padding-bottom: 15px;
}
/*-----------------------------------users----------------------------*/
.userspage h1{margin-top: 28px;}
.userspage .admin-btn{margin-right: 10px;}
.table.users{text-align: center}
.users .name-tabl-users{
    width: 15%;
    text-align: left;
}
.type-tabl-users,
.reg-tabl-users{ width: 18%;}
.email-tabl-users{
    width: 32%;
    text-align: left;
}
.points-tabl-users{width: 7%;}
.users th:nth-child(2),
.users th:nth-child(3){text-align:left;}


/*Testtyttt*/